 .u-section-1 {
  min-height: 922px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 416px;
  --radius: 50px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 50px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 111px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 416px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/8aadc81b-0ae8-48b7-97db-5d8c173d703f.webp");
  background-size: cover;
  --radius: 50px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 416px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 98px 0 0 auto;
}

.u-section-1 .u-image-2 {
  min-height: 416px;
  background-image: url("images/343088fb095ef6f17be40614d6d3354529746ab545625d8ab88e8a9b0748c8e8b55512671b584f5b6d46384fc576b6e4a0c45d0383b09a67401649_1280.jpg");
  --radius: 50px;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 776px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 343px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 343px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 343px;
  }

  .u-section-1 .u-image-2 {
    min-height: 343px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 616px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 263px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 263px;
  }

  .u-section-1 .u-image-2 {
    min-height: 263px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1705px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -62px;
    margin-bottom: -62px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-image-1 {
    min-height: 592px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 319px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 296px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1034px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .u-section-1 .u-image-1 {
    min-height: 373px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 373px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-image-2 {
    min-height: 340px;
  }
} .u-section-2 {
  min-height: 544px;
}

.u-section-2 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 20px);
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 424px;
  grid-gap: 30px;
}

.u-section-2 .u-list-item-1 {
  --radius: 50px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-2 .u-list-item-2 {
  --radius: 50px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 30px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-2 .u-list-item-3 {
  --radius: 50px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  margin: 30px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 464px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 20px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 345px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-text-6 {
    width: auto;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 882px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 62px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 758px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 50vw;
  }

  .u-section-2 .u-list-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    min-height: 838px;
  }
} .u-section-3 {
  min-height: 778px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 688px;
  --radius: 50px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 30px 50px;
}

.u-section-3 .u-text-1 {
  margin: 0 252px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 21px 211px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 70px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 137px 0 0 auto;
}

.u-section-3 .u-image-1 {
  min-height: 688px;
  --radius: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: url('images/19303917b7a491cacdda54188e678a885a2c5e6914ab6a3344305f834074a8bbf8e14f02630b38b501bcf75871172ef1abe4eb1d0272933a56247b_1280.jpg'), linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1));
  background-size: cover, cover;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 657px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 22px;
    margin-bottom: 21px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 567px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: auto;
    margin-left: -10px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 48px;
    margin-left: -10px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 77px;
  }

  .u-section-3 .u-image-1 {
    min-height: 567px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 566px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-left: -5px;
  }

  .u-section-3 .u-text-2 {
    margin-left: -5px;
    margin-right: -5px;
  }

  .u-section-3 .u-text-3 {
    margin-left: -5px;
    margin-right: -5px;
  }

  .u-section-3 .u-image-1 {
    min-height: 434px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1139px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -4px;
    margin-bottom: -4px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 399px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 75px;
    margin-right: 5px;
  }

  .u-section-3 .u-image-1 {
    min-height: 651px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 863px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -84px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-right: -5px;
  }

  .u-section-3 .u-text-3 {
    margin-right: -5px;
  }

  .u-section-3 .u-image-1 {
    min-height: 410px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 856px;
}

.u-section-4 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 31px;
  margin-bottom: 59px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 653px;
  grid-gap: 30px;
}

.u-section-4 .u-list-item-1 {
  --radius: 50px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  width: 74px;
  height: 74px;
  background-image: none;
  --radius: 20px;
  margin: 0 auto 0 0;
  padding: 14px;
}

.u-section-4 .u-text-2 {
  margin: -74px 472px 0 115px;
}

.u-section-4 .u-text-3 {
  margin: 21px 0 0 115px;
}

.u-section-4 .u-list-item-2 {
  --radius: 50px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  width: 74px;
  height: 74px;
  background-image: none;
  --radius: 20px;
  margin: 0 auto 0 0;
  padding: 14px;
}

.u-section-4 .u-text-4 {
  margin: -74px 472px 0 115px;
}

.u-section-4 .u-text-5 {
  margin: 21px 0 0 115px;
}

.u-section-4 .u-list-item-3 {
  --radius: 50px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  width: 74px;
  height: 74px;
  background-image: none;
  --radius: 20px;
  margin: 0 auto 0 0;
  padding: 14px;
}

.u-section-4 .u-text-6 {
  margin: -74px 472px 0 115px;
}

.u-section-4 .u-text-7 {
  margin: 21px 0 0 115px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-2 {
    margin-right: 371px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 371px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 371px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-right: 281px;
    margin-left: 87px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 87px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 281px;
    margin-left: 87px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 87px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 281px;
    margin-left: 87px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 87px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 13px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: 13px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-right: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }
} .u-section-5 {
  min-height: 1028px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 269px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 30px 50px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 269px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 50px 30px 30px;
}

.u-section-5 .u-text-4 {
  margin: 0;
}

.u-section-5 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 30px 0 0 auto;
}

.u-section-5 .u-image-1 {
  min-height: 621px;
  --radius: 50px;
  height: auto;
  background-repeat: no-repeat, no-repeat;
  background-image: url('images/7de932ea66cb6680cb3c0421f38201cea237dbc2b9f752122d43123e921039fbe2a84f295a8e40a61f4cbe79fa2a136a7f9125df8b0dba2e83740d_1280.jpg'), linear-gradient(to bottom, rgba(229, 229, 229, 1), rgba(229, 229, 229, 1));
  margin-top: 19px;
  margin-bottom: 59px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 924px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 222px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 222px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
  }

  .u-section-5 .u-image-1 {
    margin-top: 2px;
    margin-bottom: 20px;
    min-height: 554px;
    background-position: 50% 50%;
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 960px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 294px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 30px;
    padding-bottom: 28px;
  }

  .u-section-5 .u-icon-1 {
    width: 43px;
    height: 43px;
    margin-right: 1px;
    padding: 0;
  }

  .u-section-5 .u-image-1 {
    margin-top: 13px;
    margin-bottom: 59px;
    min-height: 524px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 978px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 149px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 0;
    margin-bottom: 40px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 934px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 29px;
  }
} .u-section-6 {
  background-image: url("images/fe6397d41123341d7c8d2e67f93d94236ed8e11b2faa8733184d0a7cc776333c57131d0756afce9fcdea43cc349ad739f6473d5e27f18520415627_1280.jpg");
}

.u-section-6 .u-sheet-1 {
  min-height: 818px;
}

.u-section-6 .u-group-1 {
  width: 599px;
  min-height: 308px;
  height: auto;
  background-image: none;
  --radius: 50px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 451px auto 59px 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  margin: 21px auto 0 0;
}

.u-section-6 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 21px 0 0 auto;
}

@media (max-width: 1199px) {
   .u-section-6 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 315px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 675px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
    margin-top: 230px;
  }
} .u-section-7 {
  min-height: 1076px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 496px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 49px 30px 50px;
}

.u-section-7 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 91px 0 0;
}

.u-section-7 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-7 .u-text-4 {
  margin: 41px 488px 0 0;
}

.u-section-7 .u-text-5 {
  line-height: 1.8;
  margin: 19px 128px 0 0;
}

.u-section-7 .u-image-1 {
  min-height: 496px;
  --radius: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/0441637efb8300dc15dc9e75c9d6a9521f22f68bab2f123f53bb8d53311cc859da8fc9cebb5e280ee3c22b8e688666c5d2b7c6f1a7bdeb0349427b_1280.jpg");
  background-size: cover;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 27px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 490px;
  --radius: 50px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 28px 30px 50px;
}

.u-section-7 .u-text-6 {
  margin: 0 auto 0 2px;
}

.u-section-7 .u-text-7 {
  line-height: 1.8;
  margin: 19px 0 0;
}

.u-section-7 .u-image-2 {
  min-height: 490px;
  background-image: url("images/36a541c463a8c30d3edd0e7521a3c41a59ee2a8869816d2e0f103b01e5b4f26b4d49b0f0dc4aac0d0403956f75d141dba94d733e15e2fb93be033c_1280.jpg");
  --radius: 50px;
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 733px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 409px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-right: 355px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    min-height: 409px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 404px;
  }

  .u-section-7 .u-image-2 {
    min-height: 404px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 569px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 247px;
  }

  .u-section-7 .u-image-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 30px;
  }

  .u-section-7 .u-image-2 {
    min-height: 309px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 1354px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-7 .u-image-1 {
    min-height: 355px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-7 .u-image-2 {
    min-height: 432px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 1046px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 47px;
  }

  .u-section-7 .u-image-1 {
    min-height: 320px;
  }

  .u-section-7 .u-image-2 {
    min-height: 272px;
  }
}